<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>

    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/lib/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/lib/bower_components/angular-material-data-table/dist/md-data-table.css">
    <!-- endinject -->
    <link rel="stylesheet" href="/lib/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="bankApp">

<div class="container">
    <div class="content">

        <div ng-controller="FormsController">

            <form name="myForm" ng-submit="submitForm(myForm)" novalidate class="form-horizontal" >
                <fieldset>
                    <legend>My form</legend>

                    <!--

                    ng-required="{ boolean }"
       ng-minlength="{ number }"
       ng-maxlength="{ number }"
       ng-pattern="{ string }"
       ng-change="{ string }"


                    -->

                    <div class="form-group">
                        <label for="email" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="myModel.email" required>
                            <p ng-show="myForm.email.$invalid && !myForm.email.$pristine" class="help-block">The email is required.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="myModel.password" ng-minlength="3" ng-maxlength="8">
                            <p ng-show="myForm.password.$invalid && !myForm.password.$pristine" class="help-block">The the password must be between 3 and 8 chars long..</p>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="checkbox" ng-model="checkbox"> Checkbox
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="message" class="col-lg-2 control-label">Message</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" name="message" id="message" ng-model="message"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Angular</label>
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="angularOk" ng-value="true" ng-model="angularOk">
                                    Is ok
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="angularOk" ng-value="false" ng-model="angularOk">
                                    Is not ok
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>

    </div>
</div>


<!-- inject:js vendor.js -->
<!-- endinject -->


<!-- inject:js app.js -->
<!-- endinject -->
<script src="/app/app.module.js" type="text/javascript"></script>
<!-- my scripts here -->
<script type="text/javascript" src="FormsModule.js"></script>

</body>
</html>
