<md-dialog style="width:500px;">
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="col-md-12">
                <md-card-content>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container class="registerForm">
                                    <label>Username</label>
                                    <input type="text" ng-model="username">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container class="registerForm">
                                    <label>Email address</label>
                                    <input type="email" ng-model="email">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container class="registerForm">
                                    <label>First Name</label>
                                    <input type="text" ng-model="firstName">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container class="registerForm">
                                    <label>Last Name</label>
                                    <input type="text" ng-model="lastName">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Birthday</label>
                                <md-datepicker ng-model="birthday"></md-datepicker>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container class="registerForm">
                                    <label>Password</label>
                                    <input type="password" ng-model="password">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;" ng-show="showDuplicateUserErrorMessage">
                            <div class="col-md-12">
                                <span class="alert alert-danger">This user name already exists!</span>
                            </div>

                        </div>
                    </form>
                </md-card-content>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="register()">Register</md-button>
        <md-button ng-click="closeDialog()">Close</md-button>
    </md-dialog-actions>
</md-dialog>