<div class="row" style="margin-top:10%;">
    <div class="col-md-4 col-md-offset-4">
        <md-card>
            <md-card-content>
                <form >
                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container class="registerForm">
                                <label>Username</label>
                                <input type="text" ng-model="username">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container class="registerForm">
                                <label>Email address</label>
                                <input type="email" ng-model="email">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container class="registerForm">
                                <label>First Name</label>
                                <input type="text" ng-model="firstName">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container class="registerForm">
                                <label>Last Name</label>
                                <input type="text" ng-model="lastName">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                                <label>Birthday</label>
                                <md-datepicker ng-model="birthday"></md-datepicker>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container class="registerForm">
                                <label>Password</label>
                                <input type="password" ng-model="password">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;" ng-show="showDuplicateUserErrorMessage">
                        <div class="col-md-12">
                            <span class="alert alert-danger">This user name already exists!</span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-4 pull-left">
                                <md-button ng-click="register()">Register</md-button>
                            </div>
                        </div>
                    </div>
                </form>
            </md-card-content>
        </md-card>
     </div>
</div>